language: python
os: linux
jobs:
  include:
  - name: "3.8"
    python: "3.8"
script:
  - sudo apt-get update
  - sudo apt-get install jackd2
  - sudo apt-get install libjack-jackd2-dev
  - sudo apt-get install libasound2-dev
  - sudo apt-get install python3-pip
  - pip3 install git+https://github.com/Levitanus/MyBigNote